@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");


:root {
    --bs-font-sans-serif: "Nunito Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
  
*,
*::before,
*::after {
    box-sizing: border-box; 
}

a {
    text-decoration: none;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.section-header h1 {
    letter-spacing: 3px;
    text-shadow: #000 0.1em 0.1em 0.2em
}

.section-header img {
    vertical-align: middle;
    width: 100%;
}

.bg-secondary {
    background-color: #1c2540 !important;
}

.github-icon {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.github-icon i {
    color: #000;
    font-size: 2rem;
}

.github-icon:hover{
    width: 125px;
    color: #fff;
}

.github-icon:hover span{
    padding: 0 5px 0 7px;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}