<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Python Flask Skeleton - {% block title %} {% endblock title %}
    </title>

    <!-- Custom CSS -->
    <link type="text/css" href="./static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="./static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Specific page css goes here! -->
    {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
    <header>

    </header>

    {% block content %} {% endblock content %}
</body>
</html>